@import url('normalize.css');
@import url('skeleton.css');

/* Global */
html {
  scroll-behavior: smooth;
}

/* Fonts */
body {
  font-size: 15px;
}
h1 {
  font-size: 4rem
}
h2 {
  font-size: 3.5rem
}
h3 {
  font-size: 3rem
}
h4 {
  font-size: 2.5rem
}
h5 {
  font-size: 2rem
}

/* Helper classes */
.hide {
  display: none
}

/* Alerts */
.alert {
  padding: 1.5rem 1.75rem;
  border-radius: 5px;
  margin-bottom: 1rem
}
.alert.alert-success {
  background: #c5e8c5;
  color: #345a34;
}
.alert.alert-danger {
  background: #ffe1e1;
  color: #6b3535;
}

/* Header + nav */
header {
  position: sticky;
  top: 0;
  z-index: 9999;
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: .5rem 0;
  margin-bottom: 2rem
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container > * {
  flex: auto
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0
}
header nav ul li {
  margin: 0
}
header input {
  margin-bottom: 0
}

/* Forms */
form {
  margin-bottom: 0
}
form button {
  transition: .5s ease
}
form button {
  color: #5fc1e0;
  border: 1px solid #52b8d8;
}
form button[type="submit"] {
  background: #5fc1e0;
  color: #ffffff;
}
form button:hover {
  background: #4eacc93d;
  color: #1ba6d2;
  border: 1px solid #52b8d8;
}